<!-- Template for secrets.config file to create in Metamory.Web project -->
<!--
	Instructions:
	1. Copy this file to the Metamory.Web folder
	2. Replace the values for AccountName and AccountKey. (The correct values for Azure Blob Store can be found in the Azure Management portal.)
-->
<appSettings>
	<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...==" />
</appSettings>